<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{{=URL('static','components/bootstrap/dist/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/bootstrap/dist/css/bootstrap-theme.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/components-font-awesome/css/font-awesome.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/dist/bootstrap3-wysihtml5.min.css')}}"/>

<style type="text/css" media="screen">
  .btn.jumbo {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
</style>

</head>
<body>
<div class="container">
  <div class="jumbotron" style="margin-top:40px">
    <h1><small>post new information</small></h1>
    <hr style="border-color: white"/>
    <textarea class="textarea" placeholder="Enter text ..." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px;"></textarea>
  </div>

  <div class="row">
    <div class="span6">

      <p style="text-align:center; margin-top:20px">
        <a class="btn btn-large btn-primary jumbo" href="https://github.com/Waxolunist/bootstrap3-wysihtml5-bower/">View project on Github</a>
      </p>
    </div>
    <div class="span6" >
      <h2>Usage</h2>

      <p>
        <pre>$('.textarea').wysihtml5();</pre>
      </p>

    </div>
  </div>
</div>



<script src="{{=URL('static', 'components/wysihtml5x/dist/wysihtml5x-toolbar.min.js')}}"></script>
<script src="{{=URL('static', 'components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'components/handlebars/handlebars.runtime.min.js')}}"></script>
<script src="{{=URL('static', 'components/dist/bootstrap3-wysihtml5.min.js')}}"></script>


<script>
  $('.textarea').wysihtml5({
    toolbar: {
      fa: true
    }
  });
</script>

</body>
</html>
