{{extend 'layout.html'}}

<style>
body {
    background-image: url({{=URL('static','images/firstpage.png')}});
}

</style>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right">
        <li><a href="{{=URL('default', 'user', args=['register'])}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{=URL('default', 'user', args=['login'])}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

        </div>
              <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>gitluckok@gmail.com</a></li>
</ul>
      </div>
</nav>

<script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script

    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-left"></div>
          <div id="poweredBy" class="pull-right">
            contact gitluckok@gmail.com
          </div>
      </div>
    </footer>