
{{extend 'layout.html'}}


<style>
    div.index-board {
        width: 250px;
        height: 200px;
        margin:15px 0;
        background-color: #eee;
        boarder:1px solid rgba(0,0,0,0.2);
        border-radius:5px;
        position:ralative;
    }


        td.board-name {
            width:249px;
            height:10px;
            text-align: center;
            padding: 15px 0;
            border-bottom: 1px solid black


        }

        td.board-num {
            width:249px;
            height:60px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 0;

        }
        td.board-button{
            padding-top:30px;
            padding-left: 80px;
            padding-right: 70px
        }
        td.board-message{
             width:249px;
            height:10px;
            text-align: center;
        }

</style>

<div id="target">

</div>


<script id="template" type="text/ractive">

<div class="page">
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ucsc group</h1>
        <p>This is a group for students in university of california, santa cruze. You are able to create new board for different topic and post new info in each board, just have fun to use it .</p>
          {{if log_id is not None:}}
        <p>
           <button class="btn btn-danger btn-lg" on-click="create-board">Create Board</button>
        </p>
          {{else:}}
        <p>
          {{=A('Sign Up', _class='btn btn-warning btn-lg', _href=URL('default', 'user', args=['register']))}}
          {{=A('Sign In', _class='btn btn-success btn-lg', _href=URL('default', 'user', args=['login']))}}
        </p>
          {{pass}}
      </div>
    </div>


<div class="container">
{%#each board_list:num%}

      <div class="col-md-4">
         <div id="index-board-id" class="index-board">

         <table>
             {% #if log_id == created_by %}

             {% #if edit %}
                <tr><td class="board-name"><textarea id="editarea" value="{% title %}" data-arrayid={%num%} on-blur="editdone"></textarea></td></tr>
             {% else %}
                 <tr><td class="board-name"><h3><div data-arrayid={%num%} on-click="startedit">{%title%}</div></h3></td></tr>
             {% /if %}

             {% else %}
                <tr><td class="board-name"><h3><div data-arrayid={%num%} >{%title%}</div></h3></td></tr>
             {% /if %}
                 <tr><td class="board-button"> <button class="btn btn-default" data-arrayid={%num%} data-boardid={% draft_id %} on-click="enter-board">view detail</button>
                 <tr></tr>
             </table>
         </div>
        </div>

{%/each%}
</div>
</div>
</script>

<script>
$(function() {



  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      board_list: [],
      draft_list: [],
      log_id: ''
    },
  });



  // Loads the initial list of boards.
  $.ajax("{{=URL('default', 'load_board', user_signature=True)}}",
          {

            method: 'POST',
            success: function (data) {
              MAIN.set('board_list', data['board_list']);
              MAIN.set('log_id',data['log_id']);
            }
          }
  );

    MAIN.on("enter-board", function(e) {
    var board_url="{{=URL('default','post')}}";
    var areaid = $(e.node).data("arrayid");
    var tmpboard=MAIN.get('board_list');
    var para = tmpboard[areaid]['draft_id'];
    var final_url = board_url+'/'+para;
    window.location.href=final_url;
  });

    MAIN.on("startedit", function(e) {
    var areaid = $(e.node).data("arrayid");
    var tmpboard=MAIN.get('board_list');
    tmpboard[areaid]['edit']=true;
    MAIN.set("board_list", tmpboard);
    $("#editarea").focus();
  });

    MAIN.on("editdone", function(e) {
    var areaid = $(e.node).data("arrayid");
    var tmpboard=MAIN.get('board_list');
    tmpboard[areaid]['edit']=false;
    MAIN.set("board_list", tmpboard);
    send_board(tmpboard[areaid]['title'],tmpboard[areaid]['draft_id']);
  })


  function send_board(send_title, send_draft_id) {
    $.ajax("{{=URL('default', 'add_board', user_signature=True)}}",
            {
              data: {
                title: send_title,
                draft_id: send_draft_id
              },
              method: 'POST',
              success: function() {
              var draft_list = MAIN.get('draft_list');
              var i = 0;
              while (i < draft_list.length) {
                if (draft_list[i]['draft_id'] == send_draft_id)
                {
                    draft_list.splice(i,1);
                }
                else {
                    i++;
                }
              }
              },
              error: function() {}
            }
    );
  }




  // Called every 10s, or upon switching drafts.
  function periodic_load() {

      // Loads the initial list of boards.
  $.ajax("{{=URL('default', 'load_board', user_signature=True)}}",
          {

            method: 'POST',
            success: function (data) {
              var tmp_list = data['board_list'];
              var draft_list = MAIN.get('draft_list');
              for (var i = 0; i < draft_list.length; i++) {
                  tmp_list.splice(0,0,draft_list[i]);
              }

              MAIN.set('board_list', tmp_list);


            }
          }
  );
  }

  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }



  // Listens to click on creat-board buttons for drafts.
  MAIN.on("create-board", function(e) {
    var create_id = MAIN.get('log_id');
    var board_list = MAIN.get('board_list');
    var draft_list = MAIN.get('draft_list');
    var uuid =generateUUID();
    var empty_board = {title:'Empty',draft_id:uuid,edit:false,created_by:create_id};
    draft_list.splice(0,0,empty_board);
    board_list.splice(0,0,empty_board);
    MAIN.set('board_list',board_list);
    MAIN.set('draft_list',draft_list);

  });


  setInterval(periodic_load, 10000);
});
</script>

