{{extend 'layout.html'}}

<style>
    div.jumbotron-h1{
        text-align: center;
    }

    div.jumbotron-h2{
        align-items: center;
    }



</style>
</script>



<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GIT LUCK</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{=URL('default', 'mainpage')}}"><span class="glyphicon glyphicon-home"></span>Home Page</a></li>
        <li class="active"><a href="{{=URL('default', 'message')}}"><span class="glyphicon glyphicon-envelope"></span>Message  <span id="id_unread_mess" style="color:black" class="badge"></span></a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search" action={{=URL('default', 'search_user')}} method="post" id="nameform">



        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="para">
        </div>
        <button type="submit" class="btn btn-primary" value="submit" form="nameform"><span class="glyphicon glyphicon-search"></span></button>
      </form>


      <ul class="nav navbar-nav navbar-right">
         <li><a href="{{=URL('default', 'user', args=['profile'])}}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
         <li><a href="{{=URL('default', 'user', args=['change_password'])}}"><span class="glyphicon glyphicon-lock"></span>Password</a></li>
         <li><a href="{{=URL('default', 'user', args=['logout'])}}"><span class="glyphicon glyphicon-off"></span>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="target">

</div>





<script id="template" type="text/ractive">

<div class="container-fluibackground">
  <div class="jumbotron text-center" style="background-color:#d9edf7">
    <div><h1>   {%remain_day%} days left for job seeking</h1></div>



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" on-click="get-modal" data-target="#myModal">Job List</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" on-click="get-graph" data-target="#myModal_g">Job Graph</button>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">JOB LIST</h4>
      </div>
      <div class="modal-body">

        <table class="table table-striped">
        <tbody>
        <tr>

            <th>#</th>
            <th on-click="oo:job_important"><i class="fa fa-caret-down"></i>Star</th>
            <th on-click="oo:job_name"><i class="fa fa-caret-down"></i>Company</th>
            <th on-click="oo:job_title"><i class="fa fa-caret-down"></i>Position</th>
            <th on-click="oo:job_state"><i class="fa fa-caret-down"></i>State</th>
            <th on-click="oo:job_contact"><i class="fa fa-caret-down"></i>Contactor</th>
            <th on-click="oo:job_email"><i class="fa fa-caret-down"></i>Email</th>
            <th on-click="oo:data_time"><i class="fa fa-caret-down"></i>Update</th>
        </tr>
        {% #each sort(modal_list,sortColumn):m_num %}
        <tr>
        <td>{%m_num+1%}</td>
        <td>
        {% #if job_important %}
         <a><i class="fa fa-star"></i></a>
        {% else %}
        <a><i class="fa fa-star-o"></i></a>
        {% /if %}
        </td>
        <td>{%job_name%}</td>
        <td>{%job_title%}</td>
        <td>{%job_state%}</td>
        <td>{%job_contact%}</td>
        <td>{%job_email%}</td>
        <td>{%data_time%}</td>
        </tr>
        {% /each %}
        </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!-- Modal -->
<div id="myModal_g" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">JOB STATISTIC</h4>
      </div>
      <div class="modal-body">


      <div id="container" style="min-width: 850px; height: 400px; margin: 0 auto"></div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<div class="container-fluibackground">
<div class="panel panel-warning">
  <div class="panel-heading"><span><button  class="btn btn-success" on-click="table-create"><span class="glyphicon glyphicon-plus"></span> Create</button></span><span style="float:center">Job Information</span>
</div>
<table class="table table-striped">
<tbody>
<tr>

            <th>#</th>
            <th>Star</th>
            <th>Company</th>
            <th>Position</th>
            <th>State</th>
            <th>Contactor</th>
            <th>Email</th>
            <th>Update</th>
            <th></th>

</tr>
{% #each job_list:num %}
<tr>

    <td>{%num+1%}</td>
    <td>
    {% #if job_important %}
    <a><i class="fa fa-star" data-starid={%num%} on-click="empty-star"></i></a>
    {% else %}
    <a><i class="fa fa-star-o" data-starid={%num%} on-click="fill-star"></i></a>
    {% /if %}
    </td>
    <td>
    {% #if edit %}
    <input type="text" value="{%job_name%}">
    {% else %}
    {%job_name%}
    {% /if %}
    </td>
    <td>
    {% #if edit %}
    <input type="text" value="{%job_title%}">
    {% else %}
    {%job_title%}
    {% /if %}
    </td>
    <td>
    {% #if edit %}

    <select value='{%job_state%}'>
    <option selected>apply</option>
    <option>phone</option>
    <option>onsite</option>
    <option>offer</option>
    </select>
    {% else %}
    {%job_state%}
    {% /if %}
    </td>
    <td>
    {% #if edit %}
    <input type="text" value="{%job_contact%}">
    {% else %}
    {%job_contact%}
    {% /if %}
    </td>
    <td>
    {% #if edit %}
    <input type="text" value="{%job_email%}">
    {% else %}
    {%job_email%}
    {% /if %}
    </td>
    <td>
    {%data_time%}
    </td>
    <td>
    {% #if edit %}
    <button  class="fa fa-floppy-o" data-saveid={%num%}  on-click="savejob"></button>
    {% else %}
    <button  class="fa fa-pencil" data-editid={%num%}  on-click="editjob"></button>
    {% /if %}
    <span style="padding-right:15px"> </span><button class="fa fa-times" data-deleteid={%num%} on-click="deletejob"></button></td>

</tr>
{% /each %}
</tbody>
</div>
</table>
</div>
</script>





<script>

$(function() {

    var modal_graph=[{
            name: 'Apply',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Phone Interview',
           data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Onsite Interview',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Offer',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }]

function build() {
    $('#container').highcharts({
        title: {
            text: 'Monthly Average Job Statistic',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: gitluck.com',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Numbers'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: modal_graph,
    });
};


    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            remain_day: 0,
            unread_mess_num: 0,
            job_list:[],
            modal_list:[],

            sort: function ( array, sortColumn ) {
            array = array.slice(); // clone, so we don't modify the underlying data

            return array.sort( function ( a, b ) {
            return a[ sortColumn ] < b[ sortColumn ] ? -1 : 1;
            });
            }
        },
    });





MAIN.on("get-graph",function(){
     var tmp_list=MAIN.get("job_list");

     for(var i = 0; i < tmp_list.length; i++) {
           var m=tmp_list[i]['data_time'].substr(5,6);
           var month =  m.substr(0,2);
         if (tmp_list[i]['job_state'] == 'apply'){

           switch(month) {
               case '01':
                   modal_graph[0]['data'][0]++;
                   break;
               case '02':
                   modal_graph[0]['data'][1]++;
                   break;
               case '03':
                   modal_graph[0]['data'][2]++;
                   break;
               case '04':
                   modal_graph[0]['data'][3]++;
                   break;
               case '05':
                   modal_graph[0]['data'][4]++;
                   break;
               case '06':
                   modal_graph[0]['data'][5]++;
                   break;
               case '07':
                   modal_graph[0]['data'][6]++;
                   break;
               case '08':
                   modal_graph[0]['data'][7]++;
                   break;
               case '09':
                   modal_graph[0]['data'][8]++;
                   break;
               case '10':
                   modal_graph[0]['data'][9]++;
                   break;
               case '11':
                   modal_graph[0]['data'][10]++;
                   break;
               case '12':
                   modal_graph[0]['data'][11]++;
                   break;
               default:

           }


         } else if (tmp_list[i]['job_state'] == 'phone') {
           switch(month) {
               case '01':
                   modal_graph[1]['data'][0]++;
                   break;
               case '02':
                   modal_graph[1]['data'][1]++;
                   break;
               case '03':
                   modal_graph[1]['data'][2]++;
                   break;
               case '04':
                   modal_graph[1]['data'][3]++;
                   break;
               case '05':
                   modal_graph[1]['data'][4]++;
                   break;
               case '06':
                   modal_graph[1]['data'][5]++;
                   break;
               case '07':
                   modal_graph[1]['data'][6]++;
                   break;
               case '08':
                   modal_graph[1]['data'][7]++;
                   break;
               case '09':
                   modal_graph[1]['data'][8]++;
                   break;
               case '10':
                   modal_graph[1]['data'][9]++;
                   break;
               case '11':
                   modal_graph[1]['data'][10]++;
                   break;
               case '12':
                   modal_graph[1]['data'][11]++;
                   break;
               default:

           }
         } else if (tmp_list[i]['job_state'] == 'onsite') {
           switch(month) {
               case '01':
                   modal_graph[2]['data'][0]++;
                   break;
               case '02':
                   modal_graph[2]['data'][1]++;
                   break;
               case '03':
                   modal_graph[2]['data'][2]++;
                   break;
               case '04':
                   modal_graph[2]['data'][3]++;
                   break;
               case '05':
                   modal_graph[2]['data'][4]++;
                   break;
               case '06':
                   modal_graph[2]['data'][5]++;
                   break;
               case '07':
                   modal_graph[2]['data'][6]++;
                   break;
               case '08':
                   modal_graph[2]['data'][7]++;
                   break;
               case '09':
                   modal_graph[2]['data'][8]++;
                   break;
               case '10':
                   modal_graph[2]['data'][9]++;
                   break;
               case '11':
                   modal_graph[2]['data'][10]++;
                   break;
               case '12':
                   modal_graph[2]['data'][11]++;
                   break;
               default:

           }
         } else if (tmp_list[i]['job_state'] == 'offer') {
           switch(month) {
               case '01':
                   modal_graph[3]['data'][0]++;
                   break;
               case '02':
                   modal_graph[3]['data'][1]++;
                   break;
               case '03':
                   modal_graph[3]['data'][2]++;
                   break;
               case '04':
                   modal_graph[3]['data'][3]++;
                   break;
               case '05':
                   modal_graph[3]['data'][4]++;
                   break;
               case '06':
                   modal_graph[3]['data'][5]++;
                   break;
               case '07':
                   modal_graph[3]['data'][6]++;
                   break;
               case '08':
                   modal_graph[3]['data'][7]++;
                   break;
               case '09':
                   modal_graph[3]['data'][8]++;
                   break;
               case '10':
                   modal_graph[3]['data'][9]++;
                   break;
               case '11':
                   modal_graph[3]['data'][10]++;
                   break;
               case '12':
                   modal_graph[3]['data'][11]++;
                   break;
               default:

           }
         }

     }

        build();


    });


MAIN.on("get-modal",function(){
    var tmp_list=MAIN.get("job_list");
    MAIN.set('modal_list',tmp_list);

})



  // Loads the initial information of mainpage for student.
  $.ajax("{{=URL('default', 'load_mainpage_s')}}",
          {

            method: 'POST',
            success: function (data) {
              MAIN.set('remain_day', data['remain_day']);
              MAIN.set('unread_mess_num',data['unread_mess_num']);
              MAIN.set('job_list',data['job_list']);
              $('#id_unread_mess').text(data['unread_mess_num']);
            }
          }
  );

MAIN.on('oo',function(e,column){
     this.set( 'sortColumn', column );
});



    MAIN.on("fill-star", function(e) {
    var areaid = $(e.node).data("starid");
    update_star(areaid,true);

    });

    MAIN.on("empty-star", function(e) {
    var areaid = $(e.node).data("starid");
    update_star(areaid,false);
    });

    MAIN.on("deletejob", function(e){
       var areaid = $(e.node).data("deleteid");
       delete_job(areaid);
    });

     MAIN.on("editjob", function(e){
       var areaid = $(e.node).data("editid");
       var tmp_list=MAIN.get('job_list');
       tmp_list[areaid]['edit'] = true;
       MAIN.set('job_list',tmp_list);

    });

    MAIN.on("savejob", function(e){
       var areaid = $(e.node).data("saveid");
       update_table(areaid);
    });



     MAIN.on("table-create", function() {
        var d = new Date();
         var year = d.getUTCFullYear().toString();
         var month_array=new Array('1','2','3','4','5','6','7','8','9','10','11','12');
         var month = month_array[d.getUTCMonth()];
        var now = d.toString().substr(7,8);
         var date = now.substr(1,2);
         var now_utc = year+'-'+month+'-'+date;
        var new_uiud = generateUUID();
        send_table(new_uiud,false,'','','apply','','',now_utc);

  });

     
     function update_star(areaid,job_important) {

       var tmp_list=MAIN.get('job_list');
       uiud_id=tmp_list[areaid]['uiud_id']

         $.ajax({
      url: "{{=URL('default', 'update_star')}}",
      method: "POST",
      data: {
          uiud_id: uiud_id,
          job_important:job_important,

      },
      success: function (data) {
        tmp_list[areaid]['job_important']=job_important;
        MAIN.set('job_list',tmp_list);

      }
    })
     }


     function delete_job(areaid) {

       var tmp_list=MAIN.get('job_list');
       uiud_id=tmp_list[areaid]['uiud_id']

         $.ajax({
      url: "{{=URL('default', 'delete_job')}}",
      method: "POST",
      data: {
          uiud_id: uiud_id,

      },
      success: function (data) {
        tmp_list.splice(areaid,1);
        MAIN.set('job_list',tmp_list);

      }
    })
     }

         function update_table(areaid) {
             var tmp_list=MAIN.get('job_list');
             var uiud_id = tmp_list[areaid]['uiud_id'];
             var job_important = tmp_list[areaid]['job_important'];
             var job_name = tmp_list[areaid]['job_name'];
             var job_title = tmp_list[areaid]['job_title'];
             var job_state = tmp_list[areaid]['job_state'];
             var job_contact = tmp_list[areaid]['job_contact'];
             var job_email = tmp_list[areaid]['job_email'];
             var data_time = tmp_list[areaid]['data_time'];

         $.ajax({
      url: "{{=URL('default', 'add_job')}}",
      method: "POST",
      data: {
          uiud_id: uiud_id,
          job_important:job_important,
          job_name:job_name,
          job_title:job_title,
          job_state:job_state,
          job_contact:job_contact,
          job_email:job_email,
          data_time:data_time
      },
      success: function (data) {
       tmp_list[areaid]['edit'] = false;
       MAIN.set('job_list',tmp_list);

      }
    })

     }



     function send_table(uiud_id,job_important,job_name,job_title,job_state,job_contact,job_email,data_time) {
         $.ajax({
      url: "{{=URL('default', 'add_job')}}",
      method: "POST",
      data: {
          uiud_id: uiud_id,
          job_important:job_important,
          job_name:job_name,
          job_title:job_title,
          job_state:job_state,
          job_contact:job_contact,
          job_email:job_email,
          data_time:data_time
      },
      success: function (data) {
        var empty={uiud_id:uiud_id,job_important:job_important,job_name:job_name,job_title:job_title,job_state:job_state,job_contact:job_contact,job_email:job_email,data_time:data_time,edit:true}
        var tmp_list = MAIN.get("job_list");
        tmp_list.splice(0,0,empty);
        MAIN.set('job_list',tmp_list);

      }
    })

     }



    function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }


})



</script>


<script src="{{=URL('static','js/highcharts.js')}}"></script>
 <script src="{{=URL('static','js/exporting.js')}}">
<script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>






