{{extend 'layout.html'}}

<style>

</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GIT LUCK</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{=URL('default', 'mainpage_teacher')}}"><span class="glyphicon glyphicon-home"></span>Home Page</a></li>
        <li class="active"><a href="{{=URL('default', 'follower')}}"><span class="glyphicon glyphicon-heart"></span>Fans</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li><a href="{{=URL('default', 'user', args=['profile'])}}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
         <li><a href="{{=URL('default', 'user', args=['change_password'])}}"><span class="glyphicon glyphicon-lock"></span>Password</a></li>
          <li><a href="{{=URL('default', 'user', args=['logout'])}}"><span class="glyphicon glyphicon-off"></span>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<link rel="stylesheet" type="text/css" href="{{=URL('static','components/bootstrap/dist/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/bootstrap/dist/css/bootstrap-theme.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/components-font-awesome/css/font-awesome.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','components/dist/bootstrap3-wysihtml5.min.css')}}"/>

<div class="container">
  <div class="jumbotron" style="background-color: #d9edf7">
    <h1><small>post new message</small></h1>
    <input style="width:50%" id="pos_title" placeholder="title" name="title"/>
    <hr style="border-color: white"/>
    <textarea id="pos_content" class="textarea" placeholder="Enter text ..." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px;"></textarea>
    <button id="submit-btn" class="btn btn-default" >Submit</button>
  </div>
</div>



<script src="{{=URL('static', 'components/wysihtml5x/dist/wysihtml5x-toolbar.min.js')}}"></script>
<script src="{{=URL('static', 'components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'components/handlebars/handlebars.runtime.min.js')}}"></script>
<script src="{{=URL('static', 'components/dist/bootstrap3-wysihtml5.min.js')}}"></script>



<script>

    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});


  $('.textarea').wysihtml5({
    toolbar: {
      fa: true

    }
  });

   $(function() {

    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            post_list: [],
            t_name:''

        },
    });

  // Loads the initial information of mainpage for student.
  $.ajax("{{=URL('default', 'load_post')}}",
          {
            method: 'POST',
            success: function (data) {
              MAIN.set('post_list', data['post_list']);
              MAIN.set('t_name',data['t_name']);
            }
          }
  );

     MAIN.on("delete-post", function(e) {
    var areaid = $(e.node).data("arrayid");
    var tmppost=MAIN.get('post_list');
    var tmpuiud =tmppost[areaid]['uiud'];
    delete_post(tmpuiud,areaid);
  });


     $("#submit-btn").click(function() {
         var pos_title = $("#pos_title").val();
         var pos_content = $('#pos_content').val();
         var darft_id = generateUUID();
         var teacher_name = MAIN.get("t_name");
         send_post(darft_id, pos_title,pos_content,teacher_name);


     })

       function send_post(darft_id, pos_title, pos_content,teacher_name) {
    $.ajax("{{=URL('default', 'add_post')}}",
            {

              data: {
                uiud_id: darft_id,
                title: pos_title,
                content: pos_content,
                t_name: teacher_name
              },
              method: 'POST',
              success: function() {
              var tmp_list=MAIN.get("post_list");
              var d = new Date();
              var year = d.getUTCFullYear().toString();
              var month_array=new Array('1','2','3','4','5','6','7','8','9','10','11','12');
              var month = month_array[d.getUTCMonth()];
              var day = d.getUTCDate().toString();
              var hour = d.getUTCHours().toString();
              var minute= d.getUTCMinutes().toString();
              var second = d.getUTCSeconds().toString();
              var now = d.toString().substr(7,8);
              var date = now.substr(1,2);
              var now_utc = year+'-'+month+'-'+date+' '+hour+':'+minute+':'+second;
              var tmp_post={title:pos_title,content:pos_content,uiud:darft_id,time:now_utc,delete:false};
              tmp_list.splice(0,0,tmp_post);
              MAIN.set('post_list',tmp_list);
              $("#pos_title").val("");
               $('#pos_content').data("wysihtml5").editor.clear();


              },
              error: function() {
              alert("Submit Error!");
              }
            }
    );
  }


      function delete_post(darft_id,num_id) {
    $.ajax("{{=URL('default', 'delete_post', user_signature=True)}}",
            {

              data: {
                uiud_id: darft_id
              },
              method: 'POST',
              success: function() {

              var tmp_list=MAIN.get("post_list");
              tmp_list.splice(num_id,1);
              MAIN.set('post_list',tmp_list);
              },
              error: function() {
              alert("Submit Error!");
              }
            }
    );
  }


  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }


   })


</script>




<div id="target">

</div>


<script id="template" type="text/ractive">


<div class="container">


<div class="panel-group" id="accordion">
{% #each post_list:num %}
  <div class="panel panel-success">
    <div class="panel-heading">
    <h4 class="panel-title">
   <a data-toggle="collapse" data-parent="#accordion" href="#collapse{%num%}"> <span> {% title %} </span><span style="float:right"><button data-arrayid={%num%} on-click="delete-post"><span class="glyphicon glyphicon-trash"></span></button></span></a>
    </h4>
    </div>
    <div id="collapse{%num%}" class="panel-collapse collapse">
      <div class="panel-body">{%% content %%}</div>
      <div class="panel-footer">{% time %}</div>
    </div>
  </div>
  {% /each %}
</div>



</script>
















