{{extend 'layout.html'}}

<style>
    div.jumbotron-h1{
        text-align: center;
    }

    div.jumbotron-h2{
        align-items: center;
    }

</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GIT LUCK</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{=URL('default', 'mainpage')}}"><span class="glyphicon glyphicon-home"></span>Home Page</a></li>
        <li class="active"><a href="{{=URL('default', 'message')}}"><span class="glyphicon glyphicon-envelope"></span>Message  <span id="id_unread_mess" style="color:black" class="badge"></span></a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search" action={{=URL('default', 'search_user')}} method="post" id="nameform">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="para">
        </div>
        <button type="submit" class="btn btn-primary" value="submit" form="nameform"><span class="glyphicon glyphicon-search"></span></button>
      </form>


      <ul class="nav navbar-nav navbar-right">
         <li><a href="{{=URL('default', 'user', args=['profile'])}}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
         <li><a href="{{=URL('default', 'user', args=['change_password'])}}"><span class="glyphicon glyphicon-lock"></span>Password</a></li>
         <li><a href="{{=URL('default', 'user', args=['logout'])}}"><span class="glyphicon glyphicon-off"></span>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="target">

</div>


<script id="template" type="text/ractive">



<div class="container-fluid main-container">

<div class="col-md-3">

<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">
      <i class="glyphicon glyphicon-user"></i>
      Following table
    </h3></div>

  <ul class="list-group">
      {% #each follow_list:num %}
    <li class="list-group-item">{% name %}</li>
      {% /each %}
  </ul>
</div>

</div>
      <div class="col-md-9">
<div class="panel-group" id="accordion">
{% #each message_list:num %}
<div class="panel {%panel%}">

    <div class="panel-heading">
      <div>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{%num%}" data-readid={%num%} on-click="read-message"><span> {% pos_title %} </span></a> <span style="float:right"><button data-arrayid={%num%} on-click="delete-post"><span class="glyphicon glyphicon-trash"></span></button></span>
      </h4>
      </div>
    </div>
    <div id="collapse{%num%}" class="panel-collapse collapse">
      <div class="panel-body">{%% pos_content %%}</div>
      <div class="panel-footer">{% auth_name %} post at {% pos_time %}</div>
    </div>
  </div>
{% /each %}
</div>
</div>
      </div>
</script>


<script>

$(function() {


    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            follow_list: [],
            message_list: [],
            unread_mes_num: 0
        },
    });

  // Loads the initial information of mainpage for student.
  $.ajax("{{=URL('default', 'load_message_s')}}",
          {

            method: 'POST',
            success: function (data) {
              var unread_num = 0
              MAIN.set('follow_list', data['follow_list']);
              var message_list=data['message_list'];
                for (var i = 0; i < message_list.length; i++) {
                    if (message_list[i]['read_state']==true) {
                        message_list[i]['panel']='panel-success';
                    } else {
                        message_list[i]['panel']='panel-danger';
                        unread_num=unread_num+1;
                    }
                }
              MAIN.set('message_list',message_list);
              $('#id_unread_mess').text(unread_num);
              MAIN.set('unread_mes_num',unread_num)
            }
          }
  );

     MAIN.on("read-message", function(e) {
         var areaid = $(e.node).data("readid");
         var tmppost=MAIN.get('message_list');
         var r_state =tmppost[areaid]['read_state'];
         var tmpid =tmppost[areaid]['pos_id'];
         if (r_state == false) {

          read_post(tmpid,areaid);
         }
     });


     MAIN.on("delete-post", function(e) {
    var areaid = $(e.node).data("arrayid");
    var tmppost=MAIN.get('message_list');
    var tmpid =tmppost[areaid]['pos_id'];
    delete_post(tmpid,areaid);
  });


     function delete_post(darft_id,num_id) {
    $.ajax("{{=URL('default', 'delete_message', user_signature=True)}}",
            {

              data: {
                post_id: darft_id
              },
              method: 'POST',
              success: function() {

              var tmp_list=MAIN.get("message_list");
              tmp_list.splice(num_id,1);
              MAIN.set('message_list',tmp_list);
              },
              error: function() {
              alert("Submit Error!");
              }
            }
    );
  }

       function read_post(darft_id,num_id) {
    $.ajax("{{=URL('default', 'read_message', user_signature=True)}}",
            {

              data: {
                post_id: darft_id
              },
              method: 'POST',
              success: function() {

              var tmp_list=MAIN.get("message_list");
              tmp_list[num_id]['read_state']=true;
              tmp_list[num_id]['panel']='panel-success';
              MAIN.set('message_list',tmp_list);
              var unread_num=MAIN.get("unread_mes_num");
              unread_num = unread_num - 1;
              $('#id_unread_mess').text(unread_num);
              MAIN.set('unread_mes_num',unread_num);
              },
              error: function() {
              }
            }
    );
  }





})
</script>





