{{extend 'layout.html'}}

<style>
    div.jumbotron-h1{
        align-items: center;
    }

    div.jumbotron-h2{
        align-items: center;
    }

</style>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GIT LUCK</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{=URL('default', 'mainpage')}}"><span class="glyphicon glyphicon-home"></span>Home Page</a></li>
        <li class="active"><a href="{{=URL('default', 'message')}}"><span class="glyphicon glyphicon-envelope"></span>Message</a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search" action={{=URL('default', 'search_user')}} method="post" id="nameform">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="para">
        </div>
        <button type="submit" class="btn btn-default" value="submit" form="nameform"><span class="glyphicon glyphicon-search"></span></button>
      </form>


      <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span>Setting<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{=URL('default', 'user', args=['change_password'])}}"><span class="glyphicon glyphicon-lock"></span>Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{=URL('default', 'user', args=['profile'])}}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
          </ul>
        </li>

         <li><a href="{{=URL('default', 'user', args=['logout'])}}"><span class="glyphicon glyphicon-off"></span>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="target">

</div>

<div class="container">
  <div class="jumbotron">

  {{if exit == True :}}
    <div><h4>name: {{=first_name}}  {{=last_name}}</h4></div>
    <div><h4>identity: {{=statue}}</h4></div>
    <div><h4>email:{{=email}}</h4></div>
    {{if course != '':}}
    <div><h4>course:{{=course}}</h4></div>
    {{pass}}
    {{if office != '':}}
    <div><h4>office:{{=office}}</h4></div>
    {{pass}}
    {{if introduction != '':}}
    <div><h4>introduction:{{=introduction}}</h4></div>
    {{pass}}


    <a href="{{=URL('default','job_create')}}" class="btn btn-info "><span class="glyphicon glyphicon-search"></span> Followed</a>



  {{else:}}
    <div class="jumbotron-h1"><h1>{{=email_add}} doesn't exit, please search again</h1></div>

  {{pass}}
  </div>
</div>



<script id="template" type="text/ractive">
</script>




<script>

$(function() {


    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            exit: {{=exit}},
            unread_mess_num: 0,
        },
    });

  // Loads the initial information of mainpage for student.
  $.ajax("{{=URL('default', 'load_mainpage_s')}}",
          {

            method: 'POST',
            success: function (data) {
              MAIN.set('remain_day', data['remain_day']);
              MAIN.set('unread_mess_num',data['unread_mess_num']);
            }
          }
  );



})
</script>










